<!-- navigation path -->
<div class="host-page-path">
  <span>頁面路徑  / 主辦單位活動列表 / 台北威秀影城</span>
</div>
<!-- main wrapper -->
<div class="new-subject-wrapper">
  <div class="new-subject">
    <i class="material-icons">accessibility</i><span>HOST | 新建類別</span>
  </div>
<!-- avatar -->
  <div class="avatar-wrapper">
    <div class="image-wrapper">
      <%= image_placeholder width: 100, height: 100, text: 'pic' %>
    </div>
    <span class="user-name">Arthur Reynolds</span>
  </div>
<!-- options -->
  <div class="options">
    <div class="create">
      <a href="#">
        <span>Event | 新建活動</span>
      </a>
    </div>
    <div class="create actived">
      <a href="#">
        <span>Subject | 新建活動</span>
      </a>
    </div>
  </div>
<!-- description -->
  <div class="step-by-step">
    <div class="step-wrapper">
      <span>在JoinFuns建立的活動將獲得優先曝光</span>
      <div class="circle-wrapper">

        <div class="step actived">
          <span class="circle">1</span>
          <span>建立活動資訊</span>
        </div>

        <div class="step">
          <span class="dots">
            <%= image_tag 'dot-dot-bg.png' %>
          </span>
          <span>&nbsp</span>
        </div>

        <div class="step">
          <span class="circle">2</span>
          <span>選取宣傳工具</span>
        </div>

      </div>
    </div>
  </div>

<!-- subject input 1st -->

  <form class="subject-info">
    <div class="info-box actived">
      <label for="subject-title1">活動主題</label>
      <span><input type="text" id="subject-title1"></span>
    </div>
    <div class="info-box">
      <label for="subject-title2">主題圖片</label>
      <span>
        <input type="text" id="subject-title2">
        <a href="" class="select-file">選取檔案</a>
      </span>

    </div>
    <div class="info-box">
      <label for="subject-title3">原始商品連結</label>
      <span><input type="text" id="subject-title3"></span>
    </div>
    <div class="info-box">
      <label for="subject-title4">地址</label>
      <span><input type="text" id="subject-title4"></span>
    </div>

<!-- drop selection -->
<!-- #TODO -->
    <div class="section-wrapper">
      <div class="drop-section-wrapper">
        <select>
          <option value="" disabled selected>結案天數</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
      </div>
    </div>
<!-- subject input 2nd -->
    <div class="info-box">
      <label for="subject-title5">商品價格</label>
      <span><input type="text" id="subject-title5"></span>
    </div>
    <div class="info-box">
      <label for="subject-title6">聯絡電話</label>
      <span><input type="text" id="subject-title6"></span>
    </div>
    <div class="info-box">
      <label for="subject-title7">連絡信箱</label>
      <span><input type="text" id="subject-title7"></span>
    </div>

<!-- ck - editor -->
    <div class="editor-wrapper">
      <span>文案編輯</span>
      <div class="editor">
        <span>Editor</span>
      </div>
    </div>

<!-- form option -->
    <div class="form-options">
      <div class="option cancle">
        <a href="#">
          <span>取消建立</span>
        </a>
      </div>
      <div class="option next">
        <a href="#">
          <span>下一步 | 選取宣傳工具</span>
        </a>
      </div>
    </div>

  </form>



</div>

<%= content_for :handwrite_js do %>
  <script>
    $(document).ready(function() {
        $('select').material_select();
      });
  </script>
<% end %>
