<!-- navigation path -->
<!-- <div class="host-page-path">
  <span>頁面路徑  / 主辦單位活動列表 / 台北威秀影城</span>
</div> -->
<!-- main wrapper -->
<!-- <div class="new-promo-wrapper">
  <div class="new-promo">
    <i class="material-icons">accessibility</i><span>HOST | 新建類別</span>
  </div> -->
<!-- avatar -->
 <!--  <div class="avatar-wrapper">
    <div class="image-wrapper">
      <%#= image_placeholder width: 100, height: 100, text: 'pic' %>
    </div>
    <span class="user-name">Arthur Reynolds</span>
  </div> -->
<!-- options -->
 <!--  <div class="options">
    <div class="create">
      <a href="#">
        <span>宣傳工具</span>
      </a>
    </div>
  </div> -->
<!-- description -->
 <!--  <div class="step-by-step">
    <div class="step-wrapper">
      <span>在JoinFuns建立的活動將獲得優先曝光</span>
      <div class="circle-wrapper">

        <div class="step">
          <span class="circle">1</span>
          <span>建立活動資訊</span>
        </div>

        <div class="step">
          <span class="dots">
            <%#= image_tag 'dot-dot-bg.png' %>
          </span>
          <span>&nbsp</span>
        </div> -->

<!-- #TODO dot-dot-dot -->
     <!--    <div class="step actived">
          <span class="circle">2</span>
          <span>選取宣傳工具</span>
        </div>

      </div>
    </div>
  </div> -->

<!-- promo input 1st -->

  <div class="promo-info">

    <div class="info-box">
      <span class="title">帳戶餘額</span>
      <span class="balance">NT 20,000</span>
    </div>

<!-- option for -->
    <div class="deposit-wrapper">
      <a href="#" class="option">
        <span>立即儲值</span>
      </a>
    </div>


    <div class="budget-wrapper">
      <div class="budget">
        <div class="free-promo">
          <input type="checkbox" name="free-promo" id="free-promo">
          <label for="free-promo">我要免費宣傳活動</label>
        </div>
        <div class="border-wrapper">
          <label for="promo-title7">宣傳預算</label>
          <span>
            <input type="text" id="promo-title7" placeholder="請輸入您的宣傳預算">
          </span>
        </div>
      </div>

    </div>
<!-- select time -->
    <div class="select-wrapper">
      <span class="promo-time">曝光時間</span>
      <span class="check-wrapper">
        <input type="radio" name="second" id="second-0">
        <label for="second-0">0 秒</label>
        <input type="radio" name="second" id="second-3">
        <label for="second-3">3 秒</label>
        <input type="radio" name="second" id="second-5">
        <label for="second-5">5 秒</label>
        <input type="radio" name="second" id="second-10">
        <label for="second-10">10 秒</label>
        <input type="radio" name="second" id="second-30">
        <label for="second-30">30 秒</label>
        <input type="radio" name="second" id="second-60">
        <label for="second-60">60 秒</label>
      </span>
    </div>
    <div class="content-wrapper">
      <div class="inner-wrapper">
        <span class="timing">單次DM限制曝光時間：<span>0秒</span></span>
        <span class="charge">單次曝光費用：<span>1元/次</span></span>
        <span class="remaining">目前預算可曝光次數：<span>20,000</span> /次</span>
      </div>

    </div>
<!-- form option -->
    <div class="form-options">
      <div class="option cancle">
        <a href="#">
          <span>上一步 | 填寫詳細資訊</span>
        </a>
      </div>
      <div class="option next actived">
        <a href="#">
          <span>SUBMIT | 送出資料</span>
        </a>
      </div>
    </div>

  </div>



<!-- </div> -->
